#В качестве интересующей меня библиотеки я выбрал zipfile.
#Данная библиотека поддерживается версиями python начиная с 2.7. Но при этом есть масса других альтернатив в pypi,
#но классический вариант пока звучит как наиболеее удачный в рамках моих интересов.